@model List<SV20T1080053.DomainModels.User>

@{
    ViewBag.Title = "Danh sách khách hàng";
}


    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
            <li>
            <a href="~/Admin/Customer/Create" class="btn btn-primary btn-sm  navbar-btn">
                <i class="fa fa-user-plus"></i> Thêm khách hàng
            </a>
            </li>
        </ul>
    </div>

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr class="bg-primary">
                <th>STT</th>
                <th>Họ Tên</th>
                <th>Ngày Sinh</th>
                <th>Địa chỉ</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Vai trò</th>
                <th class="text-right">Chức Năng</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model.Where(u => u.Role == SV20T1080053.DomainModels.Roles.Customer))
            {
                <tr>
                    <td>@(Model.Where(u => u.Role == SV20T1080053.DomainModels.Roles.Customer).ToList().IndexOf(customer) + 1)</td>
                    <td>@customer.FullName</td>
                    <td>@customer.BirthDate</td>
                    <td>@customer.Address</td>
                    <td>@customer.Email</td>
                    <td>@customer.Phone</td>
                    <td>@customer.GetRoleName()</td>
                    <td class="text-right">
                        <a href="~/Admin/Customer/Info/@customer.UserId" class="btn btn-xs btn-info" title="Thông tin">
                            <i class="fa fa-plus-square"></i>
                        </a>
                        <a href="~/Admin/Customer/Edit/@customer.UserId" class="btn btn-xs btn-info" title="Chỉnh sửa">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a href="~/Admin/Customer/ChangePassword?id=@customer.UserId" class="btn btn-xs btn-warning" title="Đổi Mật Khẩu">
                            <i class="fa fa-key"></i>
                        </a>
                        <a href="~/Admin/Customer/Delete?id=@customer.UserId" class="btn btn-xs btn-danger" title="Xóa">
                            <i class="fa fa-remove"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
