@model SV20T1080053.Areas.Admin.Models.SaveUserViewModel
@{
    ViewBag.Title = "Thêm Nhân Viên";
}

<form action="~/Admin/Employee/Save" method="post">
    <input type="hidden" name="UserId" value="@Model.UserId" />
    <div class="form-group">
        <label for="fullName">Họ tên:</label>
        <input type="text" class="form-control" id="fullName" name="FullName" value="@Model.FullName">
        @Html.ValidationMessageFor(m => m.FullName, "", new {style = "color: red;"})
    </div>
    <div class="form-group">
        <label for="birthDate">Ngày sinh:</label>
        <input type="date" class="form-control" id="birthDate" name="BirthDate" value="@Model.BirthDate">
        @Html.ValidationMessageFor(m => m.BirthDate, "", new {style = "color: red;"})
    </div>
    <div class="form-group">
        <label for="address">Địa chỉ:</label>
        <input type="text" class="form-control" id="address" name="Address" value="@Model.Address">
        @Html.ValidationMessageFor(m => m.Address, "", new {style = "color: red;"})
    </div>
    <div class="form-group">
        <label for="phone">Số điện thoại:</label>
        <input type="tel" class="form-control" id="phone" name="Phone" value="@Model.Phone">
        @Html.ValidationMessageFor(m => m.Phone, "", new {style = "color: red;"})
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="Email" value="@Model.Email">
        @Html.ValidationMessageFor(m => m.Email, "", new {style = "color: red;"})
    </div>
    <div class="form-group">
        <label for="password">Mật khẩu:</label>
        <input type="password" class="form-control" id="password" name="Password" value="">
        @Html.ValidationMessageFor(m => m.Password, "", new { style = "color: red;" })
    </div>
    <div class="form-group">
        <label for="Photo">Ảnh nhân viên:</label>
        <input type="file" class="form-control" id="Photo" name="Photo" onchange="previewImage(event)">
        <div id="imagePreview" class="mt-2"></div>
        @Html.ValidationMessageFor(m => m.Photo, "", new { style = "color: red;" })
    </div>
    <button type="submit" class="btn btn-primary">Thêm mới</button>
</form>

<script>
    function previewImage(event) {
        var reader = new FileReader();
        reader.onload = function () {
            var imagePreview = document.getElementById('imagePreview');
            imagePreview.innerHTML = '<img src="' + reader.result + '" class="img-thumbnail" style="max-width: 200px; max-height: 200px;" />';
        };
        reader.readAsDataURL(event.target.files[0]);
    }
</script>