@using SV20T1080053.DomainModels;
@model List<SV20T1080053.DomainModels.User>

@{
    ViewBag.Title = "Danh sách nhân viên";
}

<!-- Modal Placeholder -->
<div id="confirmDeleteModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h2 class="modal-title text-danger w-100 text-center" id="confirmDeleteModalLabel">Xác nhận xóa</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <h4>Bạn có chắc chắn muốn xóa nhân viên này không?</h4>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteButton">Xóa</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="~/Admin/Employee/Create" class="btn btn-primary btn-sm  navbar-btn">
                <i class="fa fa-user-plus"></i> Thêm nhân viên
            </a>
        </li>
    </ul>
</div>

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr class="bg-primary">
                <th>STT</th>
                <th>Họ Tên</th>
                <th>Ngày Sinh</th>
                <th>Địa chỉ</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Vai trò</th>
                <th class="text-right">Chức Năng</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model.Where(u => u.Role == SV20T1080053.DomainModels.Roles.Employee))
            {
                <tr id="user-@employee.UserId">
                    <td>@(Model.Where(u => u.Role == SV20T1080053.DomainModels.Roles.Employee).ToList().IndexOf(employee) + 1)</td>
                    <td>@employee.FullName</td>
                    <td>@employee.BirthDate</td>
                    <td>@employee.Address</td>
                    <td>@employee.Email</td>
                    <td>@employee.Phone</td>
                    <td>@employee.GetRoleName()</td>
                    <td class="text-right">
                        <a href="~/Admin/Customer/Info/@employee.UserId" class="btn btn-xs btn-info" title="Thông tin">
                            <i class="fa fa-plus-square"></i>
                        </a>
                        <a href="~/Admin/Customer/Edit/@employee.UserId" class="btn btn-xs btn-info" title="Chỉnh sửa">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a href="~/Admin/Customer/ChangePassword?id=@employee.UserId" class="btn btn-xs btn-warning" title="Đổi Mật Khẩu">
                            <i class="fa fa-key"></i>
                        </a>
                        <button class="btn btn-xs btn-danger btn-delete" data-id="@employee.UserId" title="Xóa">
                            <i class="fa fa-remove"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var userIdToDelete;
            $('.btn-delete').click(function (event) {
                event.preventDefault();
                userIdToDelete = $(this).data('id');
                $('#confirmDeleteModal').modal('show');
            });

            $('#confirmDeleteButton').click(function () {
                var row = $('#user-' + userIdToDelete);

                $.ajax({
                    url: '@Url.Action("Delete", "Employee")', // Chuyển hướng yêu cầu đến hành động Delete của CustomerController
                    type: 'POST',
                    data: { id: userIdToDelete }, // Gửi id dưới dạng dữ liệu POST
                    success: function (result) {
                        if (result.success) {
                            row.remove();
                            $('#confirmDeleteModal').modal('hide');
                        } else {
                            alert(result.message);
                        }
                    },
                    error: function () {
                        alert('Đã xảy ra lỗi, vui lòng thử lại.');
                    }
                });
            });
        });
    </script>
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
