@model List<SV20T1080053.DomainModels.User>

@{
    ViewBag.Title = "Danh sách nhân viên";
}

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr class="bg-primary">
                <th>STT</th>
                <th>Họ Tên</th>
                <th>Ngày Sinh</th>
                <th>Địa chỉ</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Vai trò</th>
                <th class="text-right">Chức Năng</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model.Where(u => u.Role == SV20T1080053.DomainModels.Roles.Employee))
            {
                <tr>
                    <td>@(Model.Where(u => u.Role == SV20T1080053.DomainModels.Roles.Employee).ToList().IndexOf(employee) + 1)</td>
                    <td>@employee.FullName</td>
                    <td>@employee.BirthDate</td>
                    <td>@employee.Address</td>
                    <td>@employee.Email</td>
                    <td>@employee.Phone</td>
                    <td>@employee.GetRoleName()</td>
                    <td class="text-right">
                        <a href="~/Admin/Customer/Info/@employee.UserId" class="btn btn-xs btn-info" title="Thông tin">
                            <i class="fa fa-plus-square"></i>
                        </a>
                        <a href="~/Admin/Customer/Edit/@employee.UserId" class="btn btn-xs btn-info" title="Chỉnh sửa">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a href="~/Admin/Customer/ChangePassword?id=@employee.UserId" class="btn btn-xs btn-warning" title="Đổi Mật Khẩu">
                            <i class="fa fa-key"></i>
                        </a>
                        <a href="~/Admin/Customer/Delete?id=@employee.UserId" class="btn btn-xs btn-danger" title="Xóa">
                            <i class="fa fa-remove"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

