
@model SV20T1080053.Areas.Admin.Models.SaveMotorcycleViewModel
@{
    ViewBag.Title = "Thêm xe máy";
}

<form action="~/Admin/Motorcycle/Save" method="post">
    <input type="hidden" name="MotorcycleId" value="@Model.MotorcycleId" />
    <div class="form-group">
        <label for="fullName">Tên xe:</label>
        <input type="text" class="form-control" id="fullName" name="FullName" value="@Model.MotocycleName">
        @Html.ValidationMessageFor(m => m.MotocycleName, "", new {style = "color: red;"})
    </div>
    <div class="form-group">
        <label for="address">Hãng xe:</label>
        <input type="text" class="form-control" id="address" name="Address" value="@Model.Brand.BrandName">
        @Html.ValidationMessageFor(m => m.Address, "", new {style = "color: red;"})
    </div>
    <div class="form-group">
        <label for="birthDate">Năm sản xuất:</label>
        <input type="date" class="form-control" id="ReleaseYear" name="ReleaseYear" value="@Model.ReleaseYear">
        @Html.ValidationMessageFor(m => m.ReleaseYear, "", new {style = "color: red;"})
    </div>
    <div class="form-group">
        <label for="phone">Số điện thoại:</label>
        <input type="tel" class="form-control" id="phone" name="Phone" value="@Model.Phone">
        @Html.ValidationMessageFor(m => m.Phone, "", new {style = "color: red;"})
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="Email" value="@Model.Email">
        @Html.ValidationMessageFor(m => m.Email, "", new {style = "color: red;"})
    </div>
    <div class="form-group">
        <label for="password">Mật khẩu:</label>
        <input type="password" class="form-control" id="password" name="Password" value="">
        @Html.ValidationMessageFor(m => m.Password, "", new { style = "color: red;" })
    </div>
    <button type="submit" class="btn btn-primary">Thêm mới</button>
</form>
