@model SV20T1080053.Areas.Admin.Models.SaveMotorcycleViewModel
@{
    ViewBag.Title = "Thêm xe máy";
}

<form action="~/Admin/Motorcycle/Save" method="post">
    <input type="hidden" name="MotorcycleId" value="@Model.MotorcycleId" />
    <div class="form-group">
        <label for="MotocycleName">Tên xe:</label>
        <input type="text" class="form-control" id="MotocycleName" name="MotocycleName" value="@Model.MotocycleName">
        @Html.ValidationMessageFor(m => m.MotocycleName, "", new { style = "color: red;" })
    </div>
    <div class="form-group">
        <label for="BrandId">Hãng xe:</label>
        @Html.DropDownListFor(m => m.BrandId, new SelectList(Model.Brands, "BrandId", "BrandName"), "Chọn hãng xe", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.BrandId, "", new { style = "color: red;" })
    </div>
    <div class="form-group">
        <label for="ReleaseYear">Năm sản xuất:</label>
        <input type="date" class="form-control" id="ReleaseYear" name="ReleaseYear" value="@Model.ReleaseYear">
        @Html.ValidationMessageFor(m => m.ReleaseYear, "", new { style = "color: red;" })
    </div>
    <div class="form-group">
        <label for="Type">Loại xe:</label>
        @Html.DropDownListFor(m => m.Type, new SelectList(Enum.GetValues(typeof(SV20T1080053.DomainModels.Type))), "Chọn loại xe", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Type, "", new { style = "color: red;" })
    </div>
    <div class="form-group">
        <label for="Color">Màu:</label>
        <input type="text" class="form-control" id="Color" name="Color" value="@Model.Color">
        @Html.ValidationMessageFor(m => m.Color, "", new { style = "color: red;" })
    </div>
    <div class="form-group">
        <label for="Amount">Giá thuê:</label>
        <input type="text" class="form-control" id="Amount" name="Amount" value="@Model.Amount">
        @Html.ValidationMessageFor(m => m.Amount, "", new { style = "color: red;" })
    </div>
    <div class="form-group">
        <label for="StatusName">Trạng thái:</label>
        @Html.DropDownListFor(m => m.StatusName, new SelectList(Enum.GetValues(typeof(SV20T1080053.DomainModels.StatusName))), "Chọn trạng thái", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.StatusName, "", new { style = "color: red;" })
    </div>
    <div class="form-group">
        <label for="Description">Mô tả:</label>
        <textarea class="form-control" id="Description" name="Description">@Model.Description</textarea>
        @Html.ValidationMessageFor(m => m.Description, "", new { style = "color: red;" })
    </div>
    <div class="form-group">
        <label for="Photo">Ảnh xe:</label>
        <input type="text" class="form-control" id="Photo" name="Photo" value="@Model.Photo">
        @Html.ValidationMessageFor(m => m.Photo, "", new { style = "color: red;" })
    </div>
    <button type="submit" class="btn btn-primary">Thêm mới</button>
</form>
